.site-header {
  padding-top: 20px;
  text-align: center;
}

.site-content div {
  margin: 25px 200px;
  text-align: center;
}

.site-content ol {
  margin: 25px 200px;
}

.bg-info a {
  display:block;
  width: 100%;
  height: 100%;
  color: inherit;
}

.bg-info h2 {
  padding-top: 20px;
}

.bg-info p {
  padding-bottom: 20px;
}